venv/
.venv/
*.czi
*:Zone*.Identifier
*.Identifier

# Ignore heavy raw images
data/raw/

# Allow tracked processed TIF files (MIPs and segmented masks)
!data/processed/**/*.tif
!data/processed/**/*.TIF
!data/processed/**/*.csv
!data/processed/**/*.json
